{% extends 'veloshop/layout.html.twig' %}

{% block content %}
    {{ component('alert') }}
    <div class="breadcrumbs">
        {% include 'veloshop/components/breadcrumbs.html.twig' %}
    </div>
    <div class="card">
        {% include 'veloshop/components/card.html.twig' %}
    </div>
    <div class="progressbar">
        {% include 'veloshop/components/progressbar.html.twig' %}
    </div>
    <div class="pagination">
        {% include 'veloshop/components/pagination.html.twig' %}
    </div>
{% endblock %}