<div class="card" style="width: 18rem;">
    <img src="/images/mtb.1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">MTB_1</h5>
        <p class="card-text">26" Full-suspension mountain bike with disk-brakes.</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link btn btn-success">Buy now</a>
        <a href="#" class="card-link btn btn-primary">Add to cart</a>
    </div>
</div>